


<div *ngIf="addToGroup">
  <h6>Add Article to Group:</h6>

  <!--<select [(ngModel)]="selectedGroup">
    <option *ngFor="let group of groupSelects" [ngValue]="group">{{group.name}}</option>
  </select>-->

  <ul>
    <li *ngFor="let group of groups  | async" (click)="selectGroup(group)">{{group.name}}</li>
  </ul>

  <button [disabled]="this.selectedGroup == undefined" (click)="pushToGroup($event)" class="btn btn-primary">Add Article to selected Group</button>
  <button (click)="createNewGroup($event)" class="btn btn-primary">Create new Group</button>
</div>
<br/>
<form *ngIf="newGroup" (ngSubmit)="submitGroup()" #todoForm="ngForm">
  <div class="form-row">
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        placeholder="Name"
        id="name"
        [(ngModel)]="model.name"
        name="name"
        #name="ngModel">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </div>
</form>

<br />



<h6>Articles List:</h6>
<div *ngIf="(articles | async)?.length!=0">
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Todo Description</th>
      <th>Responsible</th>
      <th>Priority</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let t of articles | async">
      <td><span [class.completed]="t.isCompleted">{{ t.id }}</span></td>
      <td><span [class.completed]="t.isCompleted">{{ t.name }}</span></td>
      <td><span [class.completed]="t.isCompleted">{{ t.title }}</span></td>
      <td><span [class.completed]="t.isCompleted">{{ t.url }}</span></td>
      <td><button [disabled]="t.isAdded" class="btn btn-primary" class="btn btn-primary" (click)="articleToGroup(t)">Add</button></td>
    </tr>
  </tbody>
</table>
</div>
