<h6>Groups List:</h6>
<div *ngIf="(groups | async)?.length!=0">
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Name Group</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let t of groups | async">
      <td><span [class.completed]="t.isCompleted">{{ t.id }}</span></td>
      <td><span [class.completed]="t.isCompleted">{{ t.name }}</span></td>
      <td><button class="btn btn-primary" class="btn btn-primary" (click)="selectGroup(t)">View/Edit</button></td>
    </tr>
  </tbody>
</table>
</div>
