<h6>Articles List:</h6>
<div *ngIf="(articles | async)?.length!=0">
  <table class="table">
    <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Todo Description</th>
      <th>Responsible</th>
      <th>Priority</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let t of articles | async">
      <td><span [class.completed]="t.isCompleted">{{ t.id }}</span></td>
      <td><span [class.completed]="t.isCompleted">{{ t.name }}</span></td>
      <td><span [class.completed]="t.isCompleted">{{ t.title }}</span></td>
      <td><span [class.completed]="t.isCompleted">{{ t.url }}</span></td>
    </tr>
    </tbody>
  </table>
</div>
