
<button (click)="backToList()" class="btn btn-primary">Back</button>
<br>

<div *ngIf="selectedGroup != null">
  <h6>Selected Group: {{selectedGroup.name}}</h6>
  <h6>Articles List:</h6>
  <table class="table">
    <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Todo Description</th>
      <th>Responsible</th>
      <th>Priority</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let t of selectedGroup.articles">
      <td><span [class.completed]="t.isCompleted">{{ t.id }}</span></td>
      <td><span [class.completed]="t.isCompleted">{{ t.name }}</span></td>
      <td><span [class.completed]="t.isCompleted">{{ t.title }}</span></td>
      <td><span [class.completed]="t.isCompleted">{{ t.url }}</span></td>
      <td><button class="btn btn-primary" class="btn btn-primary" (click)="deleteArticle(t)">Delete</button></td>
    </tr>
    </tbody>
  </table>
</div>

<br />
