
<button (click)="backToList()" class="btn btn-primary">Back</button>
<br>

<div *ngIf="selectedGroup != null">
  <h6>Selected Group: {{selectedGroup.name}}</h6>
  <h6>Articles List:</h6>
  <table class="table">
    <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Author</th>
      <th>Title</th>
      <th>URL</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let t of selectedGroup.articles">
      <td><span [class.completed]="t.isCompleted">{{ t.id }}</span></td>
      <td><span [class.completed]="t.isCompleted">{{ t.author }}</span></td>
      <td><span [class.completed]="t.isCompleted">{{ t.title }}</span></td>
      <td><span [class.completed]="t.isCompleted">{{ t.url }}</span></td>
      <td><button class="btn btn-primary" class="btn btn-primary" (click)="deleteArticle(t)">Delete</button></td>
    </tr>
    </tbody>
  </table>
</div>

<br />


<!--div *ngIf="addToGroup"-->


<button (click)="createNewArticle($event)" class="btn btn-primary">Create new Article</button>
<!--/div-->
<br/>
<form *ngIf="newArticle" (ngSubmit)="submitArticle()" #todoForm="ngForm">
<div class="form-col">
  <div class="row-auto">
    <input
      type="text"
      class="form-control"
      placeholder="Author"
      id="author"
      [(ngModel)]="model.author"
      name="author"
      #name="ngModel">
  </div>
  <div class="row-auto">
    <input
      type="text"
      class="form-control"
      placeholder="Title"
      id="title"
      [(ngModel)]="model.title"
      name="title"
      #name="ngModel">
  </div>
  <div class="row-auto">
    <input
      type="text"
      class="form-control"
      placeholder="URL"
      id="url"
      [(ngModel)]="model.url"
      name="url"
      #name="ngModel">
  </div>
  <div class="row-auto">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
</div>
</form>

<br />
